page-create {

}
.champMedium{
    font-size: 30px;
    margin-left: 25%;
    color: #FF8C00;
}
.champStrong{
    font-size: 40px;
    margin-left: 25%;
    color: #00FF00;
    font-weight: bold;
}
.champKo{
    font-size: 40px;
    margin-left: 25%;
    color: #FF0000;
    font-weight: bold;
}